body{margin:0px 0; padding:0; overflow:hidden; color:#FFFFFF;background:#FFFFFF url(../images/wallpapers/background); background-size:cover; background-repeat:no-repeat; background-position:fixed; font-size:0.65em; -moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none;font-family: 'Lobster', serif;}
a{text-decoration:none;color:#FFFFFF;}
input{color:#FFFFFF;font-size:1.2em;}
input[type=text]{ width:96%; padding:2px 0;text-decoration:none;font-size:1.2em;}
.drawer_elements {width:25%; min-height:65px; padding:10px 0; float:left; text-align:center;white-space:nowrap;}
.drawer_header{-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(64%,rgba(0,0,0,0.23)), color-stop(73%,rgba(0,0,0,0.17)), color-stop(100%,rgba(0,0,0,0))); height:35px; width:98.5%}
/*.drawer{overflow-y:auto!important; overflow-y:scroll!important;margin:0 0 45px 0!important;}*/
.slide1,#drawer_search{background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(64%,rgba(0,0,0,0.23)), color-stop(73%,rgba(0,0,0,0.17)), color-stop(100%,rgba(0,0,0,0)));}
.recents_apps_div{height:45px; padding:0 0 5px 0; margin:0 0 0 5px}
.recent_elements{width:16%; height:50px; float:left; margin:0; text-align:center; padding:2px 0 0 0}
#recent_apps_container{height:80px; border-top:1px solid #FFF; margin:30px 10px 0 10px; padding:10px 0 0 0;}
.jellybean #recent_apps_container{ margin:70px 0 0 10px;}
.gridster-edition li{border:1px dashed #FFFFFF; background:url(../images/gridster-add.png) no-repeat center center!important;}
.3d,.mCustomScrollBox{-webkit-transform:translate3d(0px,0,0); -webkit-transition-timing-function:ease; -webkit-transform-style:preserve-3d; }
.left-gradient{background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.41)), color-stop(100%,rgba(0,0,0,0)));}
.bgColor{background:#FFF}
.bgColorBlue{background:#40BBF4}
.borderBottomGrey{border:1px solid #666}
.textWhite{color:#FFF}
.invisible{visibility:hidden;}
.gridster-edition .invisible{visibility:visible;}
.mauto{margin:auto;}
.textGrey, .textGrey a{color:#666}
.f-left{float:left}
.f-right{float:right}
.m-left{margin-left:5px}
.m-right{margin-right:5px}
.m-auto{margin:auto}
.icon_app{width:45px;}
.no-overflow, .s6-container{overflow:hidden!important}
.overflow{overflow:auto;}
.col100{width:100%}
.slide2{background:-webkit-linear-gradient(top, rgba(255,255,255,0.79) 0%,rgba(255,255,255,0.79) 42%,rgba(255,255,255,0) 100%);}
#google_now_search{outline: none;border:2px solid #FFFFFF;margin:20px 0 0 0;background:transparent;padding:5px 0 5px 5px;color:#FFFFFF;text-shadow:0 1px 2px #666666;box-shadow: 0 1px 2px #999 inset;}
input[type=button]{padding:7px 12px; margin-top:-4px}
#top_message{display:none; padding:15px 15px 5px 15px; position:fixed; z-index:100000; width:96%; top:30px;background:#FFFFFF;}
.drawer_add{display:none;position:relative; background:url(../images/Add-icon.png) no-repeat; height:24px; width:24px; margin:0 0 -20px 65px; z-index:10}
.drawer_uninstall{display:none; position:relative; background:url(../images/Remove-icon.png) no-repeat; height:24px; width:24px; margin:0 0 -20px 65px}
.gridster-tablets-row,#pagebuffer,#drawer_search{display:none;}
/*facebook*/
.fb_refresh{margin:5px 12px}
.topbar_facebook{height:50px}
.fb-slide-container{overflow-y:auto!important; overflow-y:scroll!important;}
.login_facebook{background:#3B5998; color:#FFF}
.container_login_facebook{margin:150px auto; text-align:center}
.fb-block, feedEkList{margin:15px; padding:7px 5px; height:75px; border-radius:2px;}
.fb-block img{width:50px; margin:1px 5px 5px 5px}
.window_home{padding-top:5px}
.drawer_header{padding:4px 3px 3px 7px}
.drawer_header input{padding:5px 0 5px 5px;background:transparent;border:1px solid #ECECEC;}
.music-widget{padding:12px 10px 12px 2px!important;}
.music-widget .music-previous{background:url(../images/player.png) no-repeat;width:50px;height:50px;border:0;margin-right:10px;outline: none;}
.music-widget .music-play{background:url(../images/player.png) -57px 0 no-repeat;width:50px;height:50px;border:0;margin-right:10px;outline: none;}
.music-widget .music-next{background:url(../images/player.png) -115px 0 no-repeat;width:50px;height:50px;border:0;outline: none;}
.music-widget .music-stop{background:url(../images/player.png) -236px 0 no-repeat;width:50px;height:50px;border:0;outline: none;margin-right:10px;}
.music-widget .pause{background:url(../images/player.png) -176px 0 no-repeat;width:50px;height:50px;border:0;outline: none;}

/*! gridster.js - v0.5.4 - 2014-07-16
* http://gridster.net/
* Copyright (c) 2014 ducksboard; Licensed MIT */
.gridster{    position:relative;     width:100%}
.gridster .drawer_text, .gs-w .drawer_add{display:none}

.gridster >*{    margin:0 auto;     -webkit-transition:height .4s,width .4s;     -moz-transition:height .4s,width .4s;     -o-transition:height .4s,width .4s;     -ms-transition:height .4s,width .4s;     transition:height .4s,width .4s}

.gridster .gs-w{    z-index:2;     position:absolute}

.ready .gs-w:not(.preview-holder){    -webkit-transition:opacity .3s,left .3s,top .3s;     -moz-transition:opacity .3s,left .3s,top .3s;     -o-transition:opacity .3s,left .3s,top .3s;     transition:opacity .3s,left .3s,top .3s}

.ready .gs-w:not(.preview-holder), 
.ready .resize-preview-holder{    -webkit-transition:opacity .3s,left .3s,top .3s,width .3s,height .3s;     -moz-transition:opacity .3s,left .3s,top .3s,width .3s,height .3s;     -o-transition:opacity .3s,left .3s,top .3s,width .3s,height .3s;     transition:opacity .3s,left .3s,top .3s,width .3s,height .3s}

.gridster .preview-holder{    z-index:1;     position:absolute;     background-color:#fff;     border-color:#fff;     opacity:0.3}

.gridster .player-revert{    z-index:10!important;     -webkit-transition:left .3s,top .3s!important;     -moz-transition:left .3s,top .3s!important;     -o-transition:left .3s,top .3s!important;     transition: left .3s,top .3s!important}

.gridster .dragging, 
.gridster .resizing{    z-index:10!important;     -webkit-transition:all 0s !important;     -moz-transition:all 0s !important;     -o-transition:all 0s !important;     transition:all 0s !important}

.gs-resize-handle{    position:absolute;     z-index:1}

.gs-resize-handle-both{    width:20px;     height:20px;     bottom:-8px;     right:-8px;     background-repeat:no-repeat;  cursor:se-resize;  z-index:20}

.gs-resize-handle-x{ top:0;  bottom:13px;  right:-5px;  width:10px;  cursor:e-resize}

.gs-resize-handle-y{ left:0;  right:13px;  bottom:-5px;  height:10px;  cursor:s-resize}

.gs-w:hover .gs-resize-handle, 
.resizing .gs-resize-handle{ opacity:1}

.gs-resize-handle, 
.gs-w.dragging .gs-resize-handle{ opacity:0}

.gs-resize-disabled .gs-resize-handle{ display:none!important}

[data-max-sizex="1"] .gs-resize-handle-x, 
[data-max-sizey="1"] .gs-resize-handle-y, 
[data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle{ display:none !important}

.gridster *{ margin:0;  padding:0}

ul{ list-style-type:none}

.controls{ margin-bottom:20px}

.gridster ul{ /*background-color:#EFEFEF; */ height:100%}
.gridster li img{margin-top:15px}
.gridster li{ font-size:1em;  font-weight:bold;  text-align:center;  line-height:100%;  overflow:hidden;  padding:2px 0 0 0}

.gridster{ margin:0 auto;  -webkit-transition:opacity .6s;  -moz-transition:opacity .6s;  -o-transition:opacity .6s;  -ms-transition:opacity .6s;  transition:opacity .6s}

.gridster .gs-w{ /* background:url(../images/grid.png); */    cursor:pointer}

.background-white{background:url(../images/white.png)}

/*
 * S6 1.3 - 3D Mobile Touch Slider, CSS Styles
 * http://www.idangero.us/sliders/s6/
 *
 * Copyright 2012, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under iDangero.us Regular License (RL):
 * http://www.idangero.us/index.php?content=article&id=21
 *
 * Released on:October 1, 2012
*/
.s6-container{margin-top:-30px;position:relative; -webkit-backface-visibility:hidden;  -webkit-perspective-origin:50% 50%; -webkit-transform-style:preserve-3d; -moz-backface-visibility:hidden;  -moz-perspective-origin:50% 50%;  -moz-transform-style:preserve-3d;  -ms-backface-visibility:hidden;  -ms-perspective-origin:50% 50%; -ms-transform-style:preserve-3d;   -o-backface-visibility:hidden;  -o-perspective-origin:50% 50%; -o-transform-style:preserve-3d;  backface-visibility:hidden;  perspective-origin:50% 50%; transform-style:preserve-3d;}
.s6-wrapper{width:400px;position:relative; width:100%; height:100%; -webkit-transition-property:-webkit-transform:; -webkit-transition-duration:0s; -webkit-transform:translate3d(0px,0,0); -webkit-transition-timing-function:ease; -webkit-transform-style:preserve-3d; -webkit-transform-origin:50% 50% 50%; -moz-transition-property:-moz-transform:; -moz-transition-duration:0s; -moz-transform:translate3d(0px,0,0); -moz-transition-timing-function:ease; -moz-transform-style:preserve-3d; -moz-transform-origin:50% 50% 50%; -ms-transition-property:-ms-transform:; -ms-transition-duration:0s; -ms-transform:translate3d(0px,0,0); -ms-transition-timing-function:ease; -ms-transform-style:preserve-3d; -ms-transform-origin:50% 50% 50%; -o-transition-property:-o-transform:; -o-transition-duration:0s; -o-transform:translate3d(0px,0,0); -o-transition-timing-function:ease; -o-transform-style:preserve-3d; -o-transform-origin:50% 50% 50%; transition-property:transform:; transition-duration:0s; transform:translate3d(0px,0,0); transition-timing-function:ease; transform-style:preserve-3d; transform-origin:50% 50% 50%}
.s6-slide{padding:30px 0 75px 0!important;-webkit-transform:translate3d(0px,0,0);position:absolute; left:0; top:0; -webkit-transform:translate3d(0,0,0); -webkit-backface-visibility:hidden; -webkit-transform-style:preserve-3d; -moz-transform:translate3d(0,0,0); -moz-backface-visibility:hidden; -moz-transform-style:preserve-3d; -ms-transform:translate3d(0,0,0); -ms-backface-visibility:hidden; -ms-transform-style:preserve-3d; -o-transform:translate3d(0,0,0); -o-backface-visibility:hidden; -o-transform-style:preserve-3d; transform:translate3d(0,0,0); transform-style:preserve-3d; visibility:hidden; background-size:cover}
.s6>div{-webkit-transform:translate3d(0,0,0)}
.s6-slide div:nth-child(1), .s6-slide div:nth-child(2), .s6-slide iframe{-webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; backface-visibility:hidden; /* Fix of Webkit flickering */z-index:1}
.jellybean .s6-slide{padding:0!important;}
/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL &MIT
 *
*/
/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container{margin:0 auto; position:relative; overflow:hidden; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; backface-visibility:hidden; /* Fix of Webkit flickering */z-index:1}
.swiper-wrapper{position:relative; width:100%; -webkit-transition-property:-webkit-transform,left,top; -webkit-transition-duration:0s; -webkit-transform:translate3d(0px,0,0); -webkit-transition-timing-function:ease; -moz-transition-property:-moz-transform,left,top; -moz-transition-duration:0s; -moz-transform:translate3d(0px,0,0); -moz-transition-timing-function:ease; -o-transition-property:-o-transform,left,top; -o-transition-duration:0s; -o-transform:translate3d(0px,0,0); -o-transition-timing-function:ease; -o-transform:translate(0px,0px); -ms-transition-property:-ms-transform,left,top; -ms-transition-duration:0s; -ms-transform:translate3d(0px,0,0); -ms-transition-timing-function:ease; transition-property:transform,left,top; transition-duration:0s; transform:translate3d(0px,0,0); transition-timing-function:ease}
.swiper-free-mode >.swiper-wrapper{-webkit-transition-timing-function:ease-out; -moz-transition-timing-function:ease-out; -ms-transition-timing-function:ease-out; -o-transition-timing-function:ease-out; transition-timing-function:ease-out; margin:0 auto}
.swiper-slide{float:left}

.pagination{ position:absolute;  z-index:20;  left:0;  top:15px}
.swiper-pagination-switch{ display:block;  width:8px;  height:8px;  border-radius:8px;  background:#666;  border:1px solid #FFF;  margin-bottom:5px}

.swiper-active-switch{ background:#40BBF4}

/*weather*/
.MyWeatherDiv{display:none;padding:5px;}
.MyWeatherInfo{text-align:center;color:white;font-size:14px;}
#divMyImage{display:none}
.MyWeatherClose{cursor:pointer;position:absolute;right:10px;color:white;font-size:20px}
.MWTemperature{display:block}.MWPlace{display:block}.MWIP{display:block}#clear-day{display:none}#clear-night{display:none}
#partly-cloudy-day{display:none}#partly-cloudy-night{display:none}#cloudy{display:none}#rain{display:none}
#sleet{display:none}#snow{display:none}
#wind{display:none}
#fog{display:none}
.demoPlate{margin:30px auto;}

	.pageTitle{text-align:center; margin:10px 0 0; font-family:'PT Sans Narrow', sans-serif; font-weight:normal;}

	.arrows{position: absolute; width:2000px; left:50%; overflow:visible!important; font-size:90%; opacity:0;}
	.arrows div {width:220px; font-family: 'PT Sans Narrow', sans-serif; text-align:justify;}
		.arr1 { position:absolute; left:0px; top:50px;}
			.arr1 img { position:absolute; bottom:-13px; right:-31px; }
		.arr2 { position:absolute; right:10px; top:50px; }
			.arr2 img { position:absolute; bottom:-15px; left:-32px; }
		.arr3 { position:absolute;  right:-20px; top:310px; }
			.arr3 img { position:absolute; bottom:-14px; left:-52px; }
		.arr4 { position:absolute; left:25px; top:434px;  width:200px!important;}
			.arr4 img { position:absolute; bottom:5px; right:-27px; }
		.arr5 { position:absolute; right:10px; top:500px; }
	
		.arr6 { position:absolute; left:00px; top:200px; }
			.arr6 img { position:absolute; bottom:0px; right:-20px; }
		.arr7 { position:absolute; left:275px; top:600px; width:300px!important}

	.scroll{ font-family: 'PT Sans Narrow', sans-serif; cursor:pointer; display:none; text-align:center; position:absolute; height:65px; line-height:65px; font-size:175%; left:0; right:0;}
		.demoDark .scroll{ top:0; display:block;}
		.demoLight .scroll{ bottom:-60px;}
		
.tabs li {
				list-style:none;
				display:inline;
			}

			.tabs a {
				padding:5px 10px;
				display:inline-block;
				background:#666;
				color:#fff;
				text-decoration:none;
			}

			.tabs a.active {
				background:#fff;
				color:#000;
			}
	.feedEkList li{margin:0 15px;}
	.feedEkList li img{max-width:90%;}