.rssFeed {
	font-size: 99%;
	color:#EFEFEF;
}
.rssFeed a {
	text-decoration: none;
}

.rssHeader { padding: 0.2em 0; font-size:150%;margin:0 13px;}
.rssHeader img{margin-right:5px;width:20px;vertical-align:text-bottom;}

.rssBody ul { list-style: none;margin:0 10px; }
.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
	padding: 0;margin-top:0;
}
.rssRow h4{
margin:0 5px 5px 0px;
font-size:120%;}

.rssRow { padding: 0.8em; }
.rssRow div{
	color: #CCC;
	margin: 0.2em 0 0.4em 0;
}
 .rssRow img {
	width: 100%;
}
.odd {border-bottom:1px solid #666666;  background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.45) 99%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(99%,rgba(0,0,0,0.45)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */ }
.even {border-bottom:1px solid #666666; background: -moz-linear-gradient(top, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.45) 99%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.45)), color-stop(99%,rgba(0,0,0,0.45)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */ }

.rssRow .rssMedia {
	padding: 0.5em;
	font-size: 1em;
}
.menurss img{margin-right:10px;}
#rss{margin-top:10px;}
.rssRow h1{width:90%;padding:0;font-size:14px;margin-bottom:0;}
#rssmenu{margin-left:13px;padding:5px;}